@use './reset.scss' as *;
@use './variables.scss' as *;

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.margins {
  margin: 45px 7% 50px;
}

@media (max-width: 1024px) {
  .margins {
    margin: 40px 40px 0;
  }
}

@media (max-width: 768px) {
  .margins {
    margin: 32px 32px 0;
  }
}

@media (max-width: 576px) {
  .margins {
    margin: 20px 20px 0;
  }
}